/* General page layout */
html,body{
  height:100%;
  background-color: #ecf0f1;
}

main {
  min-height: 700px;
}

#header-container {
  flex: 0 0 auto;
  background-color: #273c75;
}

#main-container {
  flex: 1 1 auto;
}

#footer-container {
  flex: 0 0 auto;
}

#form-container {
  flex: 0 0 auto;
}

#chart-outer-container {
  flex: 1 1 auto;
  min-height: 0;
}

/*  Header */
#header-text {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 16px;
}

/* Forms */
label {
  margin-bottom: 0px;
  padding-top: 3px;
  font-weight: 600;
}

select {
  background-color: #ecf0f1;
  border-radius: 5px;
  padding: 3px;
  border-color: #2c3e50;
  border-width: 1px;
}

select:focus {
  border-color: #3498db;
  border-width: 2px;
  outline: none;
}

/*  Footer */
#footer-text {
  color: #2c3e50;
  font-size: 12px;
}

#footer-text a {
  color: #2c3e50;
  font-size: 12px;
}