/* New media queries for extra large screens */
/* Adding the xxl breakpoint */
@media (min-width: 3000px) {
  .col-xxl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-xxl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* General page layout */
html,body{
    height:100%;
    background-color: #ecf0f1;
}

.flex-fill {
    flex:1;
}

main {
    min-height: 700px;
}

/*  Header */
#page-header {
  background-color: #273c75;
}

#header-text {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 700;
}

/* Chart */
#chart-container {
  background-color: #ecf0f1;
}


/*  Footer */
#footer-text {
  color: #2c3e50;
  font-size: 12px;
}

#footer-text a {
  color: #2c3e50;
  font-size: 12px;
}